<div class="home container-fluid">
  <!-- Page contents -->
  <h2 id="title-header">TECHUB</h2>
  <p id="welcome-header">Welcome to TechHub</p>
  <p id="welcome-text">TechHub is a Lorem ipsum dolor sit amet, pro ea integre maiorum. Duo tamquam voluptua ut, commodo moderatius at qui.</p>

  <!-- Sign in form -->
  <div id="signin">
    <form #signin="ngForm" (submit)="onSignIn(signin)" >
      <mat-form-field id="username">
        <input type="text" color="primary" matInput placeholder="username">
      </mat-form-field>
      <mat-form-field id="password">
        <input type="password" matInput  color="primary" placeholder="password">
      </mat-form-field>
      <button mat-raised-button id="login" type="submit">Log in</button>
    </form>
  </div>

</div>