.home {
    background: #2E9FFF;
    /* background-image:  */
    width: 1922px;
    height: 1080px;
    opacity: 83%;
}

/* Page header */
#title-header {
    width: 7.23%;
    height: 3.43%;
    font-family: Microsoft YaHei, Bold;
    font-size: 28px;
    position: relative;
    top: 4.07%;
    left: 14.59%;
    color: #FFFFFF;
    opacity: 100%;
}

/* Header for welcome text */
#welcome-header {
    font-family: Helvetica, sans-serif;
    width: 14%;
    height: 10.55%x;
    font-size: 50px;
    position: relative;
    top: 38.24%;
    left: 11.86%;
    color: #FFFFFF;
    opacity: 100%;
}

/* Welcome text  */
#welcome-text {
    font-family: Helvetica, sans-serif;
    width: 474px;
    height: 86px;
    font-size: 25px;
    position: relative;
    top: 38.24%;
    left: 11.86%;
    color: #FFFFFF;
    opacity: 100%;
}

#signin {
    position: absolute;
    top: 4.07%;
    left: 57%;
    line-height: 3.4%;
    width: 35%;
}
 
#username {
    width: 12.4%;
    background: #FFFFFF;
    line-height: 3.4%;
    margin-right: 1%;
}

#password {
    width: 12.4%;
    background: #FFFFFF;
    line-height: 3.4%;
    margin-right: 1%;
}

#login {

} 