
  <div class="post-group">
      <img class="img-profile-post" src="../../../assets/images/pic2.jpeg" alt="">
      <p>Share an article, photo, video or idea</p>
  </div>
  <div class="post-input">
      <input type="text" class="input-box">
      <div style="padding-top: 20px">
              
          <button class="btn-default" id="article" type="button">
              <i class="material-icons button-icon">border_color</i>
              Write an article
          </button>

          <button class="btn-default" type="button">
              <i class="material-icons button-icon">photo_camera</i>              Image
          </button>

          <button class="btn-default" type="button">
              <i class="material-icons button-icon">videocam</i>  
              Video

          </button>
          <button class="btn-default" type="button" id="post-btn">Post</button>

          
      </div>
  </div>

