<div class="content" >
    <div class="feeds-header">
        <img class="feeds-profile-img" src="../../../assets/images/pic2.jpeg" alt="">
        <p>Kayode Abass</p> <br>
    </div>
    <div>
        <p>How to manage your work life</p>
    </div>
    <div>
        <img style="width: 100%; height: auto;" src="../../../assets/images/spiderman.jpeg" alt="">
    </div>
    <div>
        <hr>
        <button ><i class="material-icons"></i> Like</button>
        <button class=""><i class="material-icons">comment</i> Comment</button>
        <button class="">Share</button>
    </div>
</div>