<div>
    <img src="../../../assets/images/spiderman.jpeg" alt="" class="detail-img">
</div>
<img src="../../../assets/images/pic2.jpeg" alt="" class="detail-profile-img">
<div class="user-details">
    <h3 class="details-name">{{user.fullname}}</h3>
    <p class="details-title">{{user.title}}</p>
</div>
<div class="details-link">
    <a routerLink=""><strong>{{user.followers}}</strong><br>Followers</a>
    <a routerLink=""><strong>{{user.following}}</strong><br>Following</a>
    <a routerLink=""><strong>{{user.posts}}</strong><br>Posts</a>
</div>
